
.app {
 

  background-color: #3a3b3c; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s;
}





